# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/demo-eurake-consumer/.mvn/
/demo-eurake-consumer-final/.mvn/
/demo-eurake-produce/.mvn/
/demo-eurake-server/.mvn/
